<!-- Extends code from base.html for a basic page -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Start of page content -->
    <div class="wrapper">
        <div class="testimonial">
            <article>
                <!-- Main heading -->
                <br>
                <h1 class="center-justified-text">About Me</h1>
            
                
                <!-- Profile image -->
<img src="https://cdn.discordapp.com/attachments/1022053536139329626/1144188408198086766/IMG_20230429_094306_265.jpg" alt="aboutmepicture" class="center-image">
</style>

            
                <!-- Introudction -->
                <p class="center-justified-text"> Hi I'm Euriel. A New Zealand grown fillipino currently studying at Sancta Maria College as a year 13 student. 
                    One of my passions is video editing and content creation especially within Adobe Premiere Pro. Thus, I had 
                    decided to share my passion with others and allow others to show off their creativity to others aswell as
                    learn how to create certain effects within their media</p>

                <!-- Small Info  -->
                <h5 class="center-justified-text">Euriel Beltran</h5>
                <p class="center-justified-text">Current Year 13 student attending Sancta Maria College as of 2023</p>
            </article>
        </div>
    </div>
</div>
<!--breaks-->
<br>
<br>
    <!-- End of page content -->

       <!-- Footer-->
       <footer class="footer-custom py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; All About Media 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="/privacy">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="/terms">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>
{% endblock %}
