<!--Extends code from base.html for a basic page-->
{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<br>
<br>
<h1>Terms & Conditions</h1>
<style>
</style>
<br>
<br>
<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">1. Acceptance of Terms </h2>
    <p class="center-justified-text">By accessing and using this website, you agree to be bound by these terms and conditions...</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">2. Intellectual Property</h2>
    <p class="center-justified-text">All content on this website, including text, graphics, logos, and images, is the property of Euriel Jaiden Beltran</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">3. User Representations</h2>
    <p class="center-justified-text">Users will have to portray themselves through a digitalised account system</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">4. Prohibited activities</h2>
    <p class="center-justified-text">Activities such as unauthorized access, fraud, harassment, hate speech, doxing etc. Is prohibited</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">5. User Generated Contributions</h2>
    <p class="center-justified-text">Users will contribute content and or materials will shape the website and will be stored.</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">6. Third Party Websites and Content</h2>
    <p class="center-justified-text">Website will contain links and references to third party websites and content</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">7. Services Management</h2>
    <p class="center-justified-text">Website is reliable, efficient due to the several plans and actions done behind the scene in order to provide a high quality experience</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">8. Copyright Infringement </h2>
    <p class="center-justified-text">Information within this website cannot be copied as it will lead to legal consequences.</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">9. Term and Termination</h2>
    <p class="center-justified-text">If users fail to follow the terms given and provided user will be terminated access to this website.</p>
</section>

<!--header of specific term followed by short description of the term-->
<section>
    <h2 class="center-justified-text">10. Modifications And Interruptions</h2>
    <p class="center-justified-text">Website may temporarily be shutdown in case of modifactions to websites integrity or functionality.</p>
</section>

</div>
    <!-- Footer-->  
    <footer class="footer-custom py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; All About Media 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="/privacy">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="/terms">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>

{% endblock%}
